<header>
  <div class="custom-nav-container d-flex align-items-center justify-content-between px-2 py-3 shadow-sm">
    <a class="text-clipped navbar-brand" href="#">
      <i class="fal fa-store d-flex"><span class="m-auto"> Megashop</span></i>
    </a>
    <div class="main-nav d-flex">
      <i class="fal fa-times text-clipped menu-close-icon d-lg-none"></i>
      <nav class="main-nav navbar navbar-light navbar-expand-lg text-center m-auto">
        <ul class="navbar-nav d-flex" *ngFor="let m of menu">
          <li class="nav-item">
          <a class="nav-link" href="#">{{ m.Name }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">{{ m.Name }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">{{ m.Name }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">{{ m.Name }}</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="nav-icons-container d-flex justify-content-between">
      <div class="nav-icons">
        <a href="">
          <i class="fal fa-search text-clipped"></i>
        </a>
      </div>
      <div class="nav-icons">
        <a href="">
          <i class="fal fa-shopping-bag bag-item-count text-clipped"></i>
          <span class="badge">2</span>
        </a>
      </div>
      <div class="nav-icons">
        <div class="dropdown">
          <a class="dropdown-toggle " href="" data-toggle="dropdown">
            <i class="fal fa-user text-clipped"></i>
          </a>
          <div class="dropdown-menu ">
            <form action="" class="p-2 text-secondary">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Podaj adres e-mail" required>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Wpisz hasło" required>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dropdown-checkbox">
                <label class="form-check-label" for="dropdown-checkbox">Zapamiętaj mnie</label>
              </div>
              <button type="submit" class="btn btn-bg my-2">Zaloguj</button>
            </form>
            <div class="dropdown-divider mt-0">
            </div>
            <a class="dropdown-item" href="#">Nie masz konta? Zarejestruj się</a>
            <a class="dropdown-item" href="#">Zapomniałeś hasła? Przypomnij hasło</a>
          </div>
        </div>
      </div>
      <div class="nav-icons d-lg-none">
        <i class="fal fa-bars open-menu-icon text-clipped"></i>
      </div>
    </div>
  </div>

  <!-- start darmowa dostawa -->
  <div class="promowane text-white text-center py-2 mb-5">
    <span>
      <span class="text-uppercase font-weight-bold">Darmowa dostawa</span> dla zamówień powyżej 200 zł.
    </span>
  </div>
  <!-- koniec darmowa dostawa-->

</header>
<!-- koniec header -->
