<header>
  <div class="custom-nav-container d-flex align-items-center justify-content-between px-2 py-3 shadow-sm">
    <a class="text-clipped navbar-brand" routerLink="/">
      <i class="fal fa-store d-flex"><span class="m-auto"> Megashop</span></i>
    </a>
    <div class="main-nav d-flex">
      <i class="fal fa-times text-clipped menu-close-icon d-lg-none"></i>
      <nav class="main-nav navbar navbar-light navbar-expand-lg text-center m-auto">
        <ul class="navbar-nav d-flex" *ngFor="let m of data.menu; let i = index">
          <li class="nav-item">
          <a class="nav-link" routerLink="{{ m.Link }}" (click)="art.getArticle(i)">{{ m.Name }}</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="nav-icons-container d-flex justify-content-between">
      <div class="nav-icons">
        <a href="">
          <i class="fal fa-search text-clipped"></i>
        </a>
      </div>
      <div class="nav-icons">
        <a routerLink="/koszyk">
          <i class="fal fa-shopping-bag bag-item-count text-clipped"></i>
          <span class="badge">2</span>
        </a>
      </div>
      <div class="nav-icons d-lg-none">
        <i class="fal fa-bars open-menu-icon text-clipped"></i>
      </div>
    </div>
  </div>

  <!-- start darmowa dostawa -->
  <div class="promowane text-white text-center py-2 mb-5">
    <span>
      <span class="text-uppercase font-weight-bold">Darmowa dostawa</span> dla zamówień powyżej 200 zł.
    </span>
  </div>
  <!-- koniec darmowa dostawa-->

</header>
<!-- koniec header -->
<div class="container">
  <router-outlet></router-outlet>
</div>
